<div class="container">
  <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
    <h1 class = "chatroom-head"><%= @chatroom.feast.title %> Chat</h1>
      <div class="chatroom-info">
        <span><strong class="bold">Address: </strong><%= @feast.address %></span>
        <span><strong class="bold">We will start exactly at: </strong><%= @feast.start_at.strftime("%I:%M%p") %></span>
        <span><strong class="bold">We expect to finish by: </strong><%= @feast.end_at.strftime("%I:%M%p") %></span>
      </div>
      <% @chatroom.messages.each do |message| %>
        <%= render "message", message: message %>
      <% end %>
  </div>
  <%= simple_form_for [ @message ], url: feast_chatrooms_messages_path(@feast), remote: true do |f| %>
    <%= f.input :content, label: false, placeholder: "Send a message to #{@chatroom.feast.title}", as: :string, input_html: { class: "index-search" } %>
    <%= f.button :submit, 'say something', class: 'bttn bttn-wide' %>
  <% end %>
</div>
