<h1>#<%= @chatroom.feast.title %></h1>
<div id="messages" data-chatroom-id="<%= @chatroom.id %>">
  <%= @feast.description %>
  <% @chatroom.messages.each do |message| %>
    <%= render "message", message: message %>
  <% end %>
</div>
<%= simple_form_for [ @message ], url: feast_chatrooms_messages_path(@feast), remote: true do |f| %>
  <%= f.input :content, label: false, placeholder: "Message ##{@chatroom.feast.title}", as: :string %>
  <%= f.submit :submit %>
<% end %>
