<div class="container">
  <div class="user-profile">
  <div class="user-info">
    <%= render "shared/user_avatar" %>
    <br>
    <span><%="#{@user.full_name}" " | " "#{@user.gender}" %></span>
    <br>
    <br>
    <%= @user.bio %>
  </div>

  <div>
    <%= render "shared/fullreview" %>
    <a class="bttn-dark bttn2 bttn-wide" data-toggle="modal" data-target="#review-popup">
      Write a Review
    </a>
  </div>
</div>



<div class="modal" tabindex="-1" role="dialog" id="review-popup">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <h3 class="modal-title">Please leave your review of <%= current_user.full_name %> </h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
      </div>
  <%= form_for [@user, Review.new] do |f| %>
      <div class="modal-body">
        <%= f.select :rating, 1..5 %>
        </br>
        <h5>Review Title</h5>
        <%= f.text_field :review_title, placeholder: "for example: AWESOME PERSON, or PIECE OF SHITE" %>
        </br>
        <h5>Review</h5>
        <%= f.text_field :review_description, placeholder: "Give the user some positive feedback, like THEY WERE AMAZING!", class: "review-desc" %>
      </div>
        <div class="modal-footer">
        <%= f.submit "Submit Review", class: "bttn bttn-light" %>
        </div>
      <% end %>
    </div>
  </div>
  </div>
</div>

