<div class = "host-choice">
<% @reservations.each do |reservation| %>
<div class = "reserve-name">
  <div>
  <span class = "reserve-fullname">
  <%= link_to user_path(reservation.user) do %>
  <%= reservation.user.full_name %>
  </span>
  <% end %>
  </div>
  <div>
  <%= reservation.comment %>
  </div>
  <div class="bttn-choice">
  <% if reservation.status == "pending" %>
    <%= link_to "Accept", accept_feast_reservation_path(reservation.feast, reservation), method: :put, class: "bttn bttn1 bttn-host" %>
    <%= link_to "Decline", decline_feast_reservation_path(reservation.feast, reservation), method: :put, class: "bttn-dark bttn2 bttn-host" %>
  <% else %>
    <span class= "bttn-dark bttn-status"><%= reservation.status %></span>
  <% end %>
  </div>
  </div>
<% end %>
</div>
