<div class = "bttn-index">
<%= link_to "availabile now", feast_path(feast), class: "bttn1 bttn" %>
</div>
<div class="default-card-index">
<div class="default-card-body">
<div class = "card-inner">

  
  
  <div>
    <h4><%= feast.title %> </h4>

    <p class="default-card-text"> <%= feast.description %></p>
    <p class="default-card-text"> <%= feast.meal_type %></p>
    
    <p class="default-card-text"> No. of guests: <%= feast.guest_limit %> | <%= feast.price %>€</p>
    
    <%= link_to feast_path(feast) do %>
    <% if feast.photo.present? %>
      <%= cl_image_tag feast.photo.key, height: 100, class:"index-img", 
      width: 200, crop: :fill %>
    <% end %>
  <% end %>
    <p class="default-card-text"> <%= feast.address %></p>
    <p class="default-card-text"> <%= feast.start_at %></p>
    <p class="default-card-text"> <%= feast.status %></p>
  </div>
  </div>
  
  <%= link_to "availabile now", "#", class: "bttn bttn1 bttn-index" %> 

  <% if current_user.photo.attached? %>
    <%= cl_image_tag current_user.photo.key, class: "avatar" %>
  <% else %>
    <%= current_user.full_name %>
  <% end %>
  
  </div>
</div>

