<div class="default-card-index">
  <%= link_to feast_path(feast) do %>
    <% if feast.photo.present? %>
      <%= cl_image_tag feast.photo.key, height: 150, width: 75, crop: :fill %>
    <% end %>
  <% end %>
  <div class="card-body">
    <h5 class="card-title"> <%= link_to "#{feast.title}", feast_path(feast) %> </h5>
    <p class="card-text">   <%= link_to "#{feast.description}", feast_path(feast) %></p>
    <p class="card-text">  <%= link_to feast.meal_type, feast_path(feast) %></p>
    <p class="card-text">  <%= link_to feast.guest_limit, feast_path(feast) %></p>
    <p class="card-text">  <%= link_to feast.price, feast_path(feast) %></p>
    <p class="card-text">  <%= link_to feast.address, feast_path(feast) %></p>
    <p class="card-text">  <%= link_to feast.start_at.strftime("%b %e, %l:%M %p"), feast_path(feast) %></p>
    <p class="card-text">  <%= link_to feast.status, feast_path(feast) %></p>
    <span class="badge">availabile now</span>
  </div>
</div>
