<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed_top">
  <div class = "navbar-logo">
    <%= link_to root_path class: "navbar-brand" do %>
      <span class = "logo-first-letter">M</span>oveable <span class = "logo-first-letter">F</span>easts
    <% end %>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Chatrooms", chatrooms_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Connect", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "#", class: "nav-link dropdown", data: { toggle: "dropdown" } do %>
            <span><i class="fas fa-globe-europe"></i></span>
          <% end %>
          <div class="dropdown-menu dropdown-menu-right">
            <%= link_to "EN", "#", class: "dropdown-item" %>
            <%= link_to "NL", "#", class: "dropdown-item" %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <span class="dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup aria-expanded="false"><%= current_user.full_name %></span>
          <% end %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "#{current_user.first_name}", user_path(current_user), class: "dropdown-item" %>
            <%= link_to "Events", bookings_path, class: "dropdown-item" %>
            <%= link_to "Hosted Events", incoming_bookings_path, class: "dropdown-item" %>
            <%= link_to "Settings", "#", class: "dropdown-item dropdown" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
