<div class="default-card-index">
<div class="default-card-body">
<div class = "card-inner">

  
  
  <div>
    <h5 class="default-card-title"> <%= link_to "#{feast.title}", feast_path(feast) %> </h5>
    <p class="default-card-text"> <%= feast.description %></p>
    <p class="default-card-text"> <%= feast.meal_type %></p>
    
    <p class="default-card-text"> No. of guests: <%= feast.guest_limit %> | <%= feast.price %>€</p>
    
    <%= link_to feast_path(feast) do %>
    <% if feast.photo.present? %>
      <%= cl_image_tag feast.photo.key, height: 100, class:"index-img", 
      width: 200, crop: :fill %>
    <% end %>
  <% end %>
    <p class="default-card-text"> <%= feast.address %></p>
    <p class="default-card-text"> <%= feast.start_at %></p>
    <p class="default-card-text"> <%= feast.status %></p>
  </div>
  </div>
  
  <%= link_to "availabile now", "#", class: "bttn bttn1 bttn-index" %> 
  
  </div>
</div>

