<div class="default-card-index">
  <%= link_to feast_path(feast) do %>
    <% if feast.photo.present? %>
      <%= cl_image_tag feast.photo.key, height: 150, width: 75, crop: :fill %>
    <% end %>
  <% end %>
  <div class="default-card-body">
  <div class = "card-inner">
    <h5 class="default-card-title"> <%= feast.title %> </h5>
    <p class="default-card-text"> <%= feast.description %></p>
    <p class="default-card-text"> <%= feast.meal_type %></p>
    <p class="default-card-text"> <%= feast.guest_limit %></p>
    <p class="default-card-text"> <%= feast.price %></p>
    <p class="default-card-text"> <%= feast.address %></p>
    <p class="default-card-text"> <%= feast.start_at %></p>
    <p class="default-card-text"> <%= feast.status %></p>
  </div>
  <h3 class="default-badge">availabile now</h3>
  </div>
</div>

