<div class="container">
    <div class="container" >
        <%= form_tag feasts_path, :class => "search-bar d-flex", method: :get do %>
            <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "What kind of feast would you like to attend?" %>
            <%= datetime_field_tag :query, params[:query], class: "form-control" %>
            <%= submit_tag "Search", class: "" %>
        <% end %>
    </div>

    <div class="container">
        <% @feasts.each do |feast| %>
             <div class="index-grid">
                <div class="card">
                <%= render "indexcard", feast: feast %>
                </div> 
            </div> 
        <% end %>
    </div>
</div>
