<div>
  <div class = "indexcard-search">
  <%= form_tag feasts_path, :class => "index-search banner-search d-flex", method: :get do %>
            <%= text_field_tag :query, params[:query], class: " feast-search", placeholder: "What kind of feast would you like to attend?" %>
            <%= datetime_field_tag :date_query, params[:date_query], class: " feast-time" %>
            <%= text_field_tag :location, params[:location], class: " feast-time" %>
            <%= select_tag :distance, raw("<option>5</option><option>10</option><option>15</option><option>20</option><option>25</option>"),  class: " feast-time" %>
            <%= button_tag "", class: "button-search" %>
<% end %>
    <%#= render 'shared/search', class: "index-container" %>
    </div>
</div>
<div class="default-index-container">
<div class = "default-cards-index">
<% @feasts.each do |feast| %>
        <%= render "shared/indexcard", feast: feast %>
<% end %>
</div>

    <div id="map"
        style="height:100vh;max-width:500px;"
        class="sticky"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

</div>
<% if @current_address.present? %>
<script> 
    let visitorLocation = document.getElementById("location")
    visitorLocation.value = "<%= @current_address %>"
 </script>
<% end %>