<%# if @feast.photo.attached? %>
    <%#= cl_image_tag @feast.photo.key, height: 150, width: 75, crop: :fill %>
<%# end %>

<%# method for definig avatar is not yet available. %>

<!-- app/views/offers/show.html.erb -->
<% content_for :meta_title, "#{@feast.title} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @feast.description %>
<% content_for :meta_image, cl_image_path(@feast.photo.key) %>

<div class = "show-container">
<% if @feast.photo.attached? %>
    <%= cl_image_tag @feast.photo.key, crop: :fill, class: "show-img" %>
<% end %>
<div class = "show-card">
<div class = "show-card-titles">
<div class= "show-card-title">
<%= @feast.title %>
</br>
<%= link_to "#{@feast.user.full_name}", user_path(@feast.user) %>
</div>
<% if current_user.present? %>

    <% if current_user.host?(@feast) %>
        <%= render "shared/host", reservations: @reservations %>
    <% else %>
        <%= render "shared/no_host", reservations: @reservation %>
    <% end %>

<% else %>
        <%= link_to "Reserve", new_user_session_path, class: "bttn bttn-dark bttn2" %>
<% end %>
</div>
<div class = "price-desc">
<div class = "default-card-desc">
<%= @feast.description %>
</div>
<div class= "show-price">
<p><%= humanized_money_with_symbol @feast.price %></p>
</div>
</div>
<div class = "showcard-and-map">
<div class = "show-card-text">
<h6><strong>Meal Type: </strong>  <span class = "show-meal-type"><%= @feast.meal_type %></span></h6>
<%# Method for defining distance to the party is not yet available. %>
<h6><strong>Address: </strong>  <span class= "show-address"><%= @feast.address %></span></h6>

<h6><strong>Starting time: </strong>  <span class= "show-start-at"><%= @feast.start_at.strftime("%b %e, %l:%M %p") %></span></h6>

<h6><strong>Ending time: </strong>  <span class= "show-end-at"><%= @feast.end_at.strftime("%b %e, %l:%M %p") %></span></h6>

<h6><strong>No. guests/max-limit: </strong>  <span><%= @feast.reservations.where(status: "Accepted").sum(&:number_of_guests)  %> / <%= @feast.guest_limit  %></span></h6>

<div class="modal" tabindex="-1" role="dialog" id="reservation-popup">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Any questions for the host?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
          <%= simple_form_for [@feast, Reservation.new] do |f| %>
        <div class="modal-body">
          <%= f.input :number_of_guests, collection: 1..4 %>
          <%= f.input :comment %>
        </div>
        <div class="modal-footer">
          <%= f.submit "Submit Reservation" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

</div>
<div id="map"
    style="width: 100%; height: 400px;"
    data-markers="<%= @marker.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
</div>
</div>
</div>
