<%# if @feast.photo.attached? %>
    <%#= cl_image_tag @feast.photo.key, height: 150, width: 75, crop: :fill %>
<%# end %>

<%# method for definig avatar is not yet available. %>

<%# if @feast.photo.attached? %>
    <%#= cl_image_tag @feast.photo.key, height: 150, width: 75, crop: :fill %>
<%# end %>


<p><%= @feast.title %></p>
</br>
<p><%= @feast.description %></p>
</br>
<p><%= @feast.meal_type %></p>
</br>
<p><%= @feast.price %></p>
</br>
<%# Method for defining distance to the party is not yet available. %>
<p><%= @feast.address %></p>
</br>

<p><%= @feast.start_at %></p>
</br>
<p><%= @feast.end_at %></p>
</br>
<p><%= @feast.available %></p>
</br>

<div class="container">
<%# raise %>

    <% if current_user.host?(@feast) %>
        <%# raise %>

        <% @reservations.each do |reservation| %>
        
            <%= reservation.user.first_name %>
            <%= reservation.user.last_name %>
            <% if reservation.status == "pending" %>
                <%= button_to "Accept", accept_feast_reservation_path(reservation.feast, reservation), method: :put %>
                <%= button_to "Decline", decline_feast_reservation_path(reservation.feast, reservation), method: :put %>
                </br>
            <% else %>
                <%= reservation.status %>
                </br>
            <% end %>
        <% end %>
    <% else %>
    <%# here will be reservation button, after clicking it will turn pending. %>
    <strong><%= @reservation.status %></strong>
    <% end %>
</div>

