<%# if @feast.photo.attached? %>
    <%#= cl_image_tag @feast.photo.key, height: 150, width: 75, crop: :fill %>
<%# end %>

<%# method for definig avatar is not yet available. %>


<div class = "show-container">
<% if @feast.photo.attached? %>
    <%= cl_image_tag @feast.photo.key, crop: :fill, class: "show-img" %>
<% end %>
<div class = "show-card">
<div class = "show-card-titles">
<div class= "show-card-title">
<%= @feast.title %>
</div>
<% if current_user.present? %>

    <% if current_user.host?(@feast) %>
        <%= render "shared/host", reservations: @reservations %>
    <% else %>
        <%= render "shared/no_host", reservations: @reservation %>
    <% end %>

<% else %>
        <%= link_to "Reserve", new_user_session_path, class: "bttn bttn-dark bttn2" %>
<% end %>
</div>
<div class = "price-desc">
<div class = "default-card-desc">
<%= @feast.description %>
</div>
<div class= "show-price">
<p>€<%= @feast.price %></p>
</div>
</div>
<div class = "show-card-text">
<div class = "show-meal-type">
<%= @feast.meal_type %>
</div>
<%# Method for defining distance to the party is not yet available. %>
<div class= "show-address">
<%= @feast.address %>
</div>
<div class= "show-start-at">
<%= @feast.start_at.strftime("%b %e, %l:%M %p") %>
</div>
<div class= "show-end-at">
<%= @feast.end_at.strftime("%b %e, %l:%M %p") %>
</div>
<%= @feast.reservations.to_a.sum(&:number_of_guests) %> / <%= @feast.guest_limit  %>


<div class="modal" tabindex="-1" role="dialog" id="reservation-popup">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Any questions for the host?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <%= simple_form_for [@feast, Reservation.new] do |f| %>
                <div class="modal-body">
                    <%= f.input :comment %>
                    </div>
                    <div class="modal-footer">
                    <%= f.submit "Submit Reservation" %>
                    </div>
            <% end %>
        </div>
    </div>
</div>


</div>
<div id="map"
    style="width: 100%; height: 400px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
</div>
</div>
