<%# if @feast.photo.attached? %>
    <%#= cl_image_tag @feast.photo.key, height: 150, width: 75, crop: :fill %>
<%# end %>

<%# method for definig avatar is not yet available. %>

<%# if @feast.photo.attached? %>
    <%#= cl_image_tag @feast.photo.key, height: 150, width: 75, crop: :fill %>
<%# end %>

<%= @feast.title %>
</br>
<%= @feast.description %>
</br>
<%= @feast.meal_type %>
</br>
<%= @feast.price %>
</br>
<%# Method for defining distance to the party is not yet available. %>
<%= @feast.address %>
</br>

<%= @feast.start_at.strftime("%b %e, %l:%M %p") %>
</br>
<%= @feast.end_at.strftime("%b %e, %l:%M %p") %>
</br>
<%= @feast.available %>
        </br>
        </br>

<% if current_user.present? %>

    <% if current_user.host?(@feast) %>
        <%= render "shared/host", reservations: @reservations %>
    <% else %>
        <%= render "shared/no_host", reservations: @reservation %>
    <% end %>

<% else %>
        <%= button_to "Reserve", new_user_session_path %>
<% end %>

<div class="modal" tabindex="-1" role="dialog" id="reservation-popup">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Any questions for the host?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <%= simple_form_for [@feast, Reservation.new] do |f| %>
                <div class="modal-body">
                    <%= f.input :comment %>
                    </div>
                    <div class="modal-footer">
                    <%= f.submit "Submit Reservation" %>
                    </div>
            <% end %>
        </div>
    </div>
</div>

<%= @feast.reservations.to_a.sum(&:number_of_guests) %> / <%= @feast.guest_limit  %>

<div id="map"
    style="width: 100%; height: 400px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>


